


.navbar-brand span{
  font-weight: bolder;
  font-size: 30px;
  font-family: cubic;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.connect{
    font-family: cubic;
text-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

 nav{
   
         
    backdrop-filter: saturate(200%) blur(30px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
    }

    .nav-item a{
        /*text-decoration: none;*/
    }

    .navbar-toggler{
        margin-right: 2px;
    }

    .formulaire{
       transform: translateY(80px);
       
    }

    .Connexion{
        text-decoration: none;
    }

    .image-etudiant{
      
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       

    }